<div class="about">
  <div class="header">
  <div class="text">
    <h1>TEAM KILIMANJARO</h1>
    <p>As a team, we are not only trying to solve daily problems with technology but also to bring
      a positive impact to the community through our products, to address social awareness and
      environmental issues.</p><br>
      <p>We are 6 multinational members with different backgrounds in design, visual arts, finance
        and software development.</p><br>
    <p>Our web app would collate all the resources needed to help users be fully zero wasters. It will have a search engine to find zero waste stores nearby, information on where specific items are available, locations on where to recycle/repurpose items that are no longer needed, and tips on how to transition to a zero waste lifestyle.</p>
    </div>
  </div>
  <div class="image">
    <img src="../../assets/img_team_banner.jpg" alt="">
  </div>
</div>
    <div class="about-container">
      <h1>MEET THE TEAM</h1>
      <div *ngFor="let about of abouts" class="about-item">
        <div class="card">
        <div class="about-img">
          <img [src]="about.image" alt="">
        </div>
        <div class="about-text">
          <h2>{{ about.name }}</h2>
          <h3>{{ about.role }}</h3>
          <p>{{ about.info }}</p>
          <a href="#">linkedin</a>
        </div>
      </div>
      </div> 
    </div>
</div>
  