<div class="about">
  <div class="text">
    <h1>TEAM KILIMANJARO</h1>
    <p>As Canada slowly transitions to zero waste, information about the movement is being disseminated and more people are adopting the zero waste lifestyle. On Zero Waste Vancouver Facebook group, the majority of the posts are about looking for recommendations on where to find refill and zero waste stores.</p><br>
    <p>Our web app would collate all the resources needed to help users be fully zero wasters. It will have a search engine to find zero waste stores nearby, information on where specific items are available, locations on where to recycle/repurpose items that are no longer needed, and tips on how to transition to a zero waste lifestyle.</p>
  </div>
  <div class="image">
  </div>

    <div class="about-container">
      <h1>TEAM MEMBERS</h1>
      <div *ngFor="let about of abouts" class="about-item">
        <div class="card">
        <div class="about-img">
          <img [src]="about.image" alt="">
        </div>
        <div class="about-text">
          <h2>{{ about.name }}</h2>
          <h3>{{ about.role }}</h3>
          <p>{{ about.info }}</p>
          <a href="#">see more</a>
        </div>
      </div>
      </div> 
    </div>
</div>
  