@import 'src/scss/variables';

//Mobile
.footer{
  display: flex;
  flex-flow: column;
  justify-content: center;
  background-color: $footer-bgc;
  padding-bottom: 80px;
  padding-top: 100px;
}
ul{
  margin: 0;
  display: flex;
}
li{
  padding: 1rem;
  list-style: none;
}
a{
  display:inline;
  text-decoration: none;
  color: $font-main-color;
  font-family: $body-font;
}

.footer-container {
  display: flex;
  flex-flow: column;
}

.footer-brand {
  padding-left: 40px;
}

// Media Query

@media screen and (min-width: 1050px) {
  .footer {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
  }

  .footer-container {
    display: flex;
    flex-flow: row;
  }
}
