<div class="dashboard-container">
  <div class="user-profile">
    <div class="user-img">
      <img src="../../assets/img_user1@2x.png" alt="">
    </div>
    <p>
      Giang Nga
    </p>
    <h4>
      Vancouver,BC
    </h4>
  </div>

  <div class="leader-board">
    <h2>
      Top Zero Wasters
    </h2>
    <div class="leader-user" *ngFor="let leader of leaders; let i=index;">
      <div class="leader-img">
        <img *ngIf="i==0" src="../../assets/img_user3@2x.png" alt="">
        <img *ngIf="i==1" src="../../assets/img_user4@2x.png" alt="">
        <img *ngIf="i==2" src="../../assets/img_user5@2x.png" alt="">
      </div>
      <div class="leader-text">
        <p class="leader-name">
          {{ leader.name }}
        </p>
        <div>
          {{ leader.package }}
          <h4>Packaging</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="user-board">
    <div>
        <h2 class="progress-card-title">
          Your Progress
        </h2>
        <div class="progress-info">
          <div class="progress-plant">
            <!-- <img src="../../assets/ic_total_2.gif" alt=""> -->
            <video autoplay="autoplay" src="../../assets/ic_total_7.mp4" type="video/mp4"></video>
          </div>
          <div class="div-progress-title">
            <span *ngIf="totalPackaging.total">{{ totalPackaging.total }}</span>
            <span *ngIf="!totalPackaging.total">0</span>
            <span class="progress-title">Total Packaging</span>
          </div>
          <p>
            diverted from the landfill since June 1, 2019
          </p>
        </div>
        <div class="progress-share">
            <h4>Share your progress</h4>
            <ul>
            <li class="">
              <a href="#" class="">
                <img src="../../assets/share_facebook-logo-button.svg" alt="Facebook">
              </a>
            </li>
            <li class="">
              <a href="#" class="">
                  <img src="../../assets/share_instagram-logo_button.svg" alt="Instagram">
              </a>
            </li>
            <li class="">
              <a href="#" class="">
                  <img src="../../assets/share_twitter-logo-button.svg" alt="Twitter">
              </a>
            </li>
          </ul>
        </div>
        <div class="upload-receipt">
          <a href="#">Upload your receipt</a>
        </div>
    </div>

    <div>
      <app-user-progress-chart></app-user-progress-chart>
    </div>
  </div>
</div>
