@import 'src/scss/variables';

.dashboard-container {
    display: grid;
}

// Profile
.user-profile {
    background-color: $support-bgc1;
    box-shadow: 0 3px 6px #00000016;
    margin: 50px 10% 20px 10%;
    display: grid;
    justify-items: center;
    padding-bottom: 50px;
}

.user-img img {
    width: 140px;
    height: 140px;
    margin-top: 50px;
    margin-bottom: 20px;
}

p {
    font-family: $body-font;
    color: $font-color3;
    font-size: 16pt;
    margin-bottom: 0;
}

h4 {
    font-family: $body-font;
    color: $font-main-color;
    font-size: 12pt;
    font-weight: lighter;
    margin-top: 4px;
}

// Leaderboard
.leader-board {
    background-color: $support-bgc1;
    box-shadow: 0 3px 6px #00000016;
    margin: 0px 10% 20px 10%;
    display: grid;
    justify-items: start;
    padding: 50px 10% 50px 10%;
}

h2 {
    font-family: $main-font;
    font-size: 16pt;
    color: $font-color1;
}

.leader-user:first-of-type .leader-img {
    width: 50px;
}

.leader-img img {
    width: 50px;
    height: 50px;
}

.leader-user {
    padding-top: 30px;
    display: grid;
    grid-template-columns: 1fr 2fr;

}

p.leader-name {
    font-family: $body-font;
    color: $font-color3;
    font-size: 16pt;
}

.leader-total-div {
    display: flex;
}

.leader-total {
    font-family: $main-font;
    color: $font-color2;
    font-size: 16pt;
    margin-right: 8px;
}

.leader-text {
    margin-left: 10px;
}

// Progress
.user-board {
    background-color: $support-bgc1;
    box-shadow: 0 3px 6px #00000016;
    margin: 0px 10% 20px 10%;
    display: grid;
    justify-items: start;
    padding: 50px 20px 50px 20px;
    grid-row-start: 2;
    justify-content: center;
}

.progress-info {
    display: grid;
    grid-template-columns: 90px 1fr;
    grid-template-rows: 1fr 1fr;
    // grid-gap: 10px;
}

.div-progress-title {
    align-self: end;
    margin-left: 20px;
}

.progress-diverted-title {
    margin-left: 20px;
}

.progress-card-title {
    margin-bottom: 40px;
}

.progress-title {
    font-family: $body-font;
    font-size: 20pt;
    color: $font-color2;
}

.progress-plant {
    grid-row-start: 1;
    grid-row-end: 3;
    align-self: center;
}

.progress-total {
    font-family: $body-font;
    color: $font-color1;
    font-size: 50pt;
    margin-right: 10px;
}

// Progress Share
.progress-share {
    padding-top: 0px;
    padding-bottom: 30px;
    // display: grid;
    // grid-template-columns: 150px 1fr;
    display: flex;
    flex-flow: row wrap;
}

.upload-receipt button {
  background-color: transparent;
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  color: #383A37;
  text-decoration: underline;
  border: none;
}

ul{
    margin: 0;
    display: flex;
    padding-left: 0;
    flex-grow: 10;
}

li {
    padding-left: 10px;
    list-style: none;
}

a {
    font-family: $body-font;
    font-weight: lighter;
    font-size: 12pt;
    color: $font-main-color;
    text-decoration: underline;
    // padding-bottom: 50px;
}

// Media Query

@media screen and (min-width: 800px) {
    .dashboard-container {
        grid-template-columns: 1fr 2fr;
        grid-template: 1fr 1fr;
        padding-left: 10%;
        padding-right: 10%;
    }

    .user-profile {
        margin-top: 20px;
    }

    .leader-board {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .user-board {
        grid-row-start: 1;
        grid-row-end: 3;
        margin: 20px 0 20px 0;
    }


}
