<div class="dashboard-container">
  <div class="user-profile">
    <div *ngIf="authServiceDash.firstName" class="user-img">
      <img src="../../assets/img_team_{{ authServiceDash.firstName }}_color@2x.png" alt="">
    </div>
    <div *ngIf="!authServiceDash.firstName" class="user-img">
      <img src="../../assets/img_team_marinela_color@2x.png" alt="">
    </div>
    <p *ngIf="authServiceDash.name">
      {{ authServiceDash.name }}
    </p>
    <p *ngIf="!authServiceDash.name">
      Marinela Poso
    </p>
    <h4>
      Vancouver,BC
    </h4>
  </div>

  <div class="leader-board">
    <h2>
      Top Zero Wasters
    </h2>
    <div class="leader-user" *ngFor="let leader of leaders; let i=index;">
      <div class="leader-img">
        <img *ngIf="leader.name.indexOf('Denis') !== -1" src="../../assets/img_team_denis_color@2x.png" alt="">
        <img *ngIf="leader.name.indexOf('June') !== -1" src="../../assets/img_team_june_color@2x.png" alt="">
        <img *ngIf="leader.name.indexOf('Marinela') !== -1" src="../../assets/img_team_marinela_color@2x.png" alt="">
      </div>
      <div class="leader-text">
        <p class="leader-name">
          {{ leader.name }}
        </p>
        <div class="leader-total-div">
          <p class="leader-total">{{ leader.quantity }}</p>
          <h4>Packaging</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="user-board">
    <div>
        <h2 class="progress-card-title">
          Your Progress
        </h2>
        <div class="progress-info">
          <div class="progress-plant">
            <!-- <img *ngIf="!totalPackaging || !totalPackaging.total" src="../../assets/ic_total_2.gif" alt=""> -->
            <!-- <img *ngIf="totalPackaging && totalPackaging.total && totalPackaging.total == 0" src="../../assets/ic_total_2.gif" alt=""> -->
            <!-- <video autoplay="autoplay" src="../../assets/ic_total_2.mp4" type="video/mp4"></video> -->
            <video autoplay="autoplay"
                    *ngIf="totalPackaging && totalPackaging.total && totalPackaging.total < 200"
                    src="../../assets/ic_total_7.mp4" type="video/mp4"></video>
            <video autoplay="autoplay"
                    *ngIf="totalPackaging && totalPackaging.total && totalPackaging.total >= 200"
                    src="../../assets/ic_total_8.mp4" type="video/mp4"></video>
          </div>
          <div class="div-progress-title">
            <span class="progress-total" *ngIf="totalPackaging && totalPackaging.total">{{ totalPackaging.total }}</span>
            <span class="progress-total" *ngIf="!totalPackaging || !totalPackaging.total">0</span>
            <span class="progress-title">Total Packaging</span>
          </div>
          <p class="progress-diverted-title">
            diverted from the landfill since January 1, 2019
          </p>
        </div>
        <div class="progress-share">
            <h4>Share your progress</h4>
            <ul>
            <li class="">
              <a href="#" class="">
                <img src="../../assets/share_facebook-logo-button.svg" alt="Facebook">
              </a>
            </li>
            <li class="">
              <a href="#" class="">
                  <img src="../../assets/share_instagram-logo_button.svg" alt="Instagram">
              </a>
            </li>
            <li class="">
              <a href="#" class="">
                  <img src="../../assets/share_twitter-logo-button.svg" alt="Twitter">
              </a>
            </li>
          </ul>
          <div class="upload-receipt">
              <button (click)="simulateRefill()">Upload your receipt</button>
              <!-- <a href="#" (click)="simulateRefill()">Upload your receipt</a> -->
          </div>
        </div>
    </div>

    <div>
      <app-user-progress-chart></app-user-progress-chart>
    </div>
  </div>
</div>
