<div>
  <div>
    <div>
      <img src="../../assets/img_user1@2x.png" alt="">
    </div>
    <div>
      Giang Nga
    </div>
    <div>
      Vancouver,BC
    </div>
  </div>
  <div>
    <div>
      Top Zero Wasters
    </div>
    <div>
      <div>
        <img src="../../assets/img_user2.png" alt="">
      </div>
      <div>
        <div>
          Tina Belcher
        </div>
        <div>
          <span>499</span> Packaging
        </div>
      </div>
    </div>
    <div>
      <div>
        <img src="../../assets/img_user3.png" alt="">
      </div>
      <div>
        <div>
          Rochelle Rock
        </div>
        <div>
          <span>367</span> Packaging
        </div>
      </div>
    </div>
    <div>
      <div>
        <img src="../../assets/img_user4.png" alt="">
      </div>
      <div>
        <div>
          Kill Moves
        </div>
        <div>
          <span>320</span> Packaging
        </div>
      </div>
    </div>
  </div>
  <div>
    <div>
        <div>
          Your Progress
        </div>
        <div>
          <img src="../../assets/ic_total.svg" alt="">
        </div>
        <div>
          <span *ngIf="totalPackaging">{{ totalPackaging.total }}</span>
          <span *ngIf="!totalPackaging">0</span>
          <span>Total Packaging</span>
        </div>
        <div>
          diverted from the bla bla bla
        </div>
        <div>
          <ul>
            <li class="">
              <a href="#" class="">
                <img src="../../assets/facebook-logo-button.svg" alt="Facebook">
              </a>
            </li>
            <li class="">
              <a href="#" class="">
                  <img src="../../assets/instagram-logo.svg" alt="Instagram">
              </a>
            </li>
            <li class="">
              <a href="#" class="">
                  <img src="../../assets/twitter-logo-button.svg" alt="Twitter">
              </a>
            </li>
          </ul>
        </div>
        <div>
          <a href="#">upload the receipt</a>
        </div>
    </div>
    <div>
      GRAPH GRAPH GRAPH GRAPH GRAPH GRAPH GRAPH
    </div>
  </div>
</div>
