<nav class="navbar sticky-top navbar-expand-lg">

  <a routerLink="/" class="navbar-brand">
    <img src="../../assets/logo_header.svg" alt="greenfill">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" (click)="isNavbarCollapsed = !isNavbarCollapsed">
    <span class="navbar-toggler-icon">
      <img src="../../assets/ic_hamburger.svg" alt="greenfill">
    </span>
  </button>

  <div class="collapse navbar-collapse" [ngbCollapse]="!isNavbarCollapsed" id="navbarSupportedContent" (click)="isNavbarCollapsed = !isNavbarCollapsed">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
        <a routerLink="/search" class="nav-link" (click)="isNavbarCollapsed = true">Search</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
        <a routerLink="/info" class="nav-link" (click)="isNavbarCollapsed = true">What is Zero Waste</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
        <a routerLink="/about" class="nav-link" (click)="isNavbarCollapsed = true">About Us</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
        <a routerLink="/contact" class="nav-link" (click)="isNavbarCollapsed = true">Get in Touch</a>
      </li>
      <li *ngIf="isAuthenticated" class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
        <a routerLink="/dashboard" class="nav-link" (click)="isNavbarCollapsed = true">Dashboard</a>
      </li>
    </ul>
    <img class="user-img" *ngIf="isAuthenticated" src="../../assets/img_user2@2x.png" alt="">
    <span class="user-name" *ngIf="isAuthenticated">Giang Nga</span>
    <div class="user-arrow" *ngIf="isAuthenticated"></div>
    <!-- <img class="user-arrow" src="../../assets/ic_arrow_down@2x" alt=""> -->
    <!-- <a *ngIf="isAuthenticated" style="cursor: pointer;" (click)="onLogout()">Logout</a> -->
    <button class="primaryBtn" *ngIf="!isAuthenticated" routerLink="/login">LOGIN</button>
  </div>
</nav>
