<div class="search-single">
  <div class="single-img">
    <img [src]="search.imageBig" alt="">
  </div> 
  <div class="single-text">
    <a href="#">go back to map</a>
    <div>
      <h2>{{ search.name }}</h2>
      <img src="../../assets/ic_carrot.svg" alt="">
    </div>
    <div>
      <img src="../../assets/ic_pin_green.svg" alt="">
      <p>{{ search.address }}</p>
    </div>
    <div>
      <img src="../../assets/ic_website_green.svg" alt="">
      <p>{{ search.website }}</p>
    </div>
    <div>
      <img src="../../assets/ic_phone_green.svg" alt="">
      <p>{{ search.phone }}</p>
    </div>
    <div>
      <img src="../../assets/ic_schedule.svg" alt="">
      <p>{{ search.weekdayHours }}/{{ search.weekendHours }}</p>
    </div>
    <div>
      <p>{{ search.text }}</p>
    </div>
</div> 
</div>
