<div class="landing">
  <div class="data-container">
    <h1>We produced less trash!</h1>
    <p>Annual Solid Waste Disposed to Landfill and Indinerator (tonnes)</p>
    <!-- <div class="data-visual">data visualization here...</div> -->
    <app-canada-progress-chart></app-canada-progress-chart>
    <h2>Jump start your zero waste living!</h2>
    <p>Search for zero waste stores near you.</p>
  </div>

  <app-map-landing></app-map-landing>
  <app-tracker></app-tracker>
  <app-featured></app-featured>
  <app-newsletter></app-newsletter>
</div>

