<div class="newsletter">
  <div class="news-img">
    <img src="../../assets/ic_newsletter.png" alt="">
  </div>
  <div class="news-text">
    <h1>Get the latest zero waste updates</h1>
    <p>Get our monthly newsletter and be in the loop.</p>
  </div>
  <div class="news-form">
    <form #newsForm="ngForm" (ngSubmit)="onSubmit(newsForm)">
        <input 
          type="email"
          [(ngModel)]="newsletter.email"
          [ngClass]="{'invalid':newsletterEmail.errors && newsletterEmail.touched}" 
          name="email" 
          #newsletterEmail="ngModel"
          placeholder="Enter email to get started..."
          required
          pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
        >
        <button class="support1Btn">Get Monthly Newsletter</button>   <div [hidden]="!newsletterEmail.errors?.pattern || !newsletterEmail.touched" class="invalid-feedback">
            Email is not valid
      </div>
    </form>
  </div>
</div>