<div class="tracker">
    <h1>Track how much trash you are diverting from the landfill.</h1>
    <div class="tracker-container">
      <div class="tracker-item">
        <div class="tracker-img">
          <img src="../../assets/how_to_step1.png" alt="">
        </div>
        <div class="tracker-text">
          <p>Visit and sign up at any package-free store</p>
        </div>
      </div>

      <div class="tracker-item">
        <div class="tracker-img">
          <img src="../../assets/how_to_step2.png" alt="">
        </div>
        <div class="tracker-text">
          <p>Buy package-free items</p>
        </div>
      </div>

      <div class="tracker-item">
        <div class="tracker-img">
          <img src="../../assets/how_to_step3.png" alt="">
        </div>
        <div class="tracker-text">
          <p>Login and track your Zero Waste progress</p>
        </div>
      </div>
    </div>

    <h2>Login or sign up to see your progress every time you refill at any zero waste store.</h2>

    <button routerLink="/login" class="primaryBtn">LOGIN</button>
  </div>
