<div class="tracker">
    <h1>Track how much trash you are diverting from the landfill.</h1>
    <div class="tracker-container">
      <div class="tracker-item">
        <div class="tracker-img">
          <img src="../../assets/how_to_step1.png" alt="">
        </div>
        <div class="tracker-text">
          <p>1. Vsit package-free store</p>
        </div>
      </div>
  
      <div class="tracker-item">
        <div class="tracker-img">
          <img src="../../assets/how_to_step2.png" alt="">
        </div>
        <div class="tracker-text">
          <p>2. Buy package-free items</p>
        </div>
      </div>
  
      <div class="tracker-item">
        <div class="tracker-img">
          <img src="../../assets/how_to_step3.png" alt="">
        </div>
        <div class="tracker-text">
          <p>3. Login and track your Zero Waste progress</p>
        </div>
      </div>
    </div>

    <p>Login or sign up to see your progress every time you refill at any zero waste store.</p>

    <button>LOGIN</button>
  </div>