<div>
  <form action="">
    <input type="text" placeholder="Search for zero waste store or items…">
  </form>
</div>
<div class="searchComponent">
  <div class="leftPanel">
    <div class="storeInfo">
      <div>
        <div>
          NADA
        </div>
        <div>
          <img src="../../assets/ic_pin.png" alt="">
          675 E Broadway, Vancouver, BC V5T 1X7
        </div>
        <div>
          <span>
            <img src="../../assets/ic_pin.png" alt="">
          </span>
          <span>
            Weekday 8a.m. - 8p.m.
            <br>
            Weekend 9a.m. - 8p.m.
          </span>
        </div>
      </div>
      <div>
        <img src="../../assets/store_s1.png" alt="">
      </div>
    </div>
    <div class="storeInfo">
      <div>
        <div>
          The Soap Dispensary
        </div>
        <div>
          <img src="../../assets/ic_pin.png" alt="">
          675 E Broadway, Vancouver, BC V5T 1X7
        </div>
        <div>
          <span>
            <img src="../../assets/ic_pin.png" alt="">
          </span>
          <span>
            Weekday 8a.m. - 8p.m.
            <br>
            Weekend 9a.m. - 8p.m.
          </span>
        </div>
      </div>
      <div>
        <img src="../../assets/store_s2.png" alt="">
      </div>
    </div>
    <div class="storeInfo">
      <div>
        <div>
          The Soap Dispensary
        </div>
        <div>
          <img src="../../assets/ic_pin.png" alt="">
          675 E Broadway, Vancouver, BC V5T 1X7
        </div>
        <div>
          <span>
            <img src="../../assets/ic_pin.png" alt="">
          </span>
          <span>
            Weekday 8a.m. - 8p.m.
            <br>
            Weekend 9a.m. - 8p.m.
          </span>
        </div>
      </div>
      <div>
        <img src="../../assets/store_s3.png" alt="">
      </div>
    </div>
    <div class="storeInfo">
      <div>
        <div>
          The Soap Dispensary
        </div>
        <div>
          <img src="../../assets/ic_pin.png" alt="">
          675 E Broadway, Vancouver, BC V5T 1X7
        </div>
        <div>
          <span>
            <img src="../../assets/ic_pin.png" alt="">
          </span>
          <span>
            Weekday 8a.m. - 8p.m.
            <br>
            Weekend 9a.m. - 8p.m.
          </span>
        </div>
      </div>
      <div>
        <img src="../../assets/store_s4.png" alt="">
      </div>
    </div>
  </div>
  <div class="rightPanel">
      <iframe width="800" height="600" id="gmap_canvas" src="https://maps.google.com/maps?q=Langara&output=embed"
        frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
  </div>
</div>
