<div>
  <form #searchForm="ngForm" (ngSubmit)="onSubmit(searchForm)">
    <input type="text" id="searchText" name="searchText"
      ngModel required
      placeholder="Search for zero waste store or items…">>
    <button class="search-btn" type="submit" text="GO"
      [disabled]="!searchForm.valid">
      <img src="../../assets/ic_search_btn.svg" alt="">
    </button>
  </form>
  </div>
  <div class="search">
    <div class="left-panel">
      <div *ngFor="let search of searchs" class="store-info">
          <div class="store-text">
            <a (click)="loadStore(search.id)">{{ search.name }}</a>
            <!-- <div>
              <img src="../../assets/ic_pin_green.svg" alt="">
              <p>{{ search.address }}</p>
            </div>
            <div>
              <img src="../../assets/ic_schedule.svg" alt="">
              <p>{{ search.weekdayHours }}</p><br>
              <p>{{ search.weekendHours }}</p>
            </div> -->
          </div>
          <!-- <div class="store-img">
              <img [src]="search.image" alt="">
          </div> -->
      </div>
    </div>
    <div class="right-panel">
      <app-search-single></app-search-single>
    </div>
        <!-- <div class="search-map">
        <iframe width="800" height="600" id="gmap_canvas" src="https://maps.google.com/maps?q=Langara&output=embed"
          frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
      </div>     -->
  </div>
