<div class="featured">
  <h1>Featured Package-Free Stores</h1>
  <div class="featured-container">
    <div *ngFor="let store of stores" class="featured-item">
      <div class="featured-img">
        <img [src]="store.image" alt="">
      </div>
      <div class="featured-text">
        <h2>{{ store.name }}</h2>
        <p>{{ store.address }}</p><br>
        <p>{{ store.weekdayHours }}</p><br>
        <p>{{ store.weekendHours }}</p>
      </div>
    </div> 
  </div>
  <button>EXPLORE MORE</button>
</div>
