//Font Colors

$font-main-color: #383A37;
$font-contact-invalid-color: #FC6E6D;
$font-color1: #6BA439;
$font-color2: #FC6E6D;
$font-color3: #707070;
$font-color4: #ffffff;
$font-imput: #A3A5A2; //for text fields

//Bgc Colors

$landing-data-bgc: #EBFEFF;
$featured-bgc: #F4FAFA;
$footer-bgc: #F7EDE1;
$support-bgc1: #F7F7F7;  //for card background and login
$support-bgc2: #F9D9EB; //in case we need
$suport-bgc3: #D7F9FA; //Team Members and Whats is Zero Waste
$suport-bcg4: #FFFFFF; //Team Members Card

//Buttons Colors

$button-color1: #6BA439;
$button-color2: #FC6E6D;

//Borders

$field_border: #A8A8A8; //for the text fields
$card_border: #FC6E6D; //for all the cards

//Typography
 
$main-font: 'Roboto Slab', serif; //those are for the titles and heading
$body-font: 'Roboto', sans-serif; //those are for body