<div class="info">
  <div class="steps-container">
    <h1>WHAT IS ZERO WASTE?</h1>
    <p>Zero Waste could be done easily within these 5R steps: Refuse, Reduce, Reuse, Recycle and Rot.</p>
    <div class="steps-image">
      <img src="../../assets/img_zero_waste_banner_s.svg" alt="">
    </div>
  </div>
    
  <div class="items-container">
    <ngb-accordion [closeOthers]="true" activeIds="static-0">
      <ngb-panel *ngFor="let info of infos; let i=index;" id="static-{{ info.id }}">
        <ng-template ngbPanelTitle>
          <img [src]="info.image" alt="">
        </ng-template>
        <ng-template ngbPanelContent>
            <div class="item-card-image"> 
              <img [src]="info.cardImage" alt="">
            </div> 
            <div class="item-card-text">{{ info.text }}</div>
            <div class="item-card-icons">
              <img src="../../assets/ic_arrow_up.svg" alt="">
              <img src="../../assets/ic_recycle.svg" alt="">
              <img src="../../assets/ic_reduce.svg" alt="">
            </div>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
</div>